/node_modules
/public/hot
/public/storage
/public/allfiles
/public/images
/public/pdf
/public/orcafiles
/public/videos
/public/vendor
/public/svg
/storage/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
maintainence.zip
livedata.sql
livedata2.sql
/testcontact/vendor
.git.zip